<!DOCTYPE html>  
<html ng-app="todolistapp">  
  <head>  
    <title>邊學AngularJS邊做Todo List (1)</title>  
    <script type="text/javascript" src="http://code.angularjs.org/angular-1.0.1.min.js"></script>  
    <script type="text/javascript" src="controllers.js"></script> 
  </head>  
  <body ng-controller="todocontroller">  
    
      <h1>Inser what you want to do ~</h1>
      <h2>To Do List</h2>
      <input type="text" placeholder="type what you want to do" ng-model="newItem"> 
      <input type="submit" id="submit" value="new" ng-click="additem">

      <ul><li ng-repeat="item in todoList">{{item.label}}</li></ul>
       
       
  </body>  
</html>  